.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  @include bpMedium {
    padding: 0 40px;
  }
}
.page {
  .content {
    &--split {
      h1, h2, h3, h4, h5, h6, p {
        max-width: 100%;
        padding: 0;
        @include bpMedium {
          padding: 0;
        }
      }
    }
  }
}